[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pigpio = "*"
adafruit-circuitpython-mlx90640 = "*"
opencv-python = "*"
numpy = "*"
mlx9064x-driver = "*"
simple-pid = "*"

[dev-packages]

[requires]
python_version = "3.10"
